{% extends "base.html.twig" %}

{% block title %}HoussArtGallery- Nouveau produit{% endblock %}

{% block body %}

<style>
    .banner{
        height:100%;
        background:linear-gradient(rgba(0, 0, 0,.1),rgba(0, 0, 0,.1)),url(https://cdn.pixabay.com/photo/2015/10/27/16/07/canvas-1009232_1280.jpg) center fixed no-repeat;
        background-size:cover;
        
    }
</style>

<body>
<div class="container-fluid banner py-4">
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center">
                <div class="col-sm-12 col-md-10">

            <div class="row">
               <h1 class=" text-center text-white heading">Création d'un nouveau Produit</h1>

               {# read and display just one flash message type #}
               {% for message in app.flashes('success') %}
               <div class="alert alert-success text-center mt-4">
                {{ message}}
               </div>
               {% endfor %}

            </div>

            <div class="row bg-warning">
                {{ form_start(form) }}
 
                <div class="form-group text-white fs-5">       
                {{ form_label(form.name) }}
                {{ form_widget(form.name) }}
                <div class="form-error">
                    {{ form_errors(form.name)}}
                </div>
                </div>

                <div class="form-group text-white fs-5">    
                {{ form_label(form.price) }}
                {{ form_widget(form.price) }}
                <div class="form-error">
                    {{ form_errors(form.price)}}
                </div>
                </div>

                <div class="form-group text-white fs-5">    
                {{ form_label(form.size) }}
                {{ form_widget(form.size) }}
                <div class="form-error">
                    {{ form_errors(form.size)}}
                </div>
                </div>

                <div class="form-group text-white fs-5">    
                {{ form_label(form.artist) }}
                {{ form_widget(form.artist) }}
                <div class="form-error">
                    {{ form_errors(form.artist)}}
                </div>
                 </div>
        

                <div class="form-group text-white fs-5">    
                {{ form_label(form.category) }}
                {{ form_widget(form.category) }}
                <div class="form-error">
                    {{ form_errors(form.category)}}
                </div>
                </div>

                <div class="form-group text-white fs-5">    
                {{ form_label(form.property) }}
                {{ form_widget(form.property) }}
                <div class="form-error">
                    {{ form_errors(form.property)}}
                </div>
                </div>

                <div class="form-group text-white fs-5">    
                {{ form_label(form.isPublic) }}
                {{ form_widget(form.isPublic) }}
                <div class="form-error">
                    {{ form_errors(form.isPublic)}}
                </div>
                </div>


                <div class="form-group text-white fs-5">    
                {{ form_row(form._token) }}
                </div>

                <div class="form-group fs-5 py-3">    
                {{ form_row(form.submit) }}
                </div>
                {{ form_end(form)}}
            </div>

            </div>
        </div>
    </div>
  </div>
</body>

{% endblock %}