{% extends 'base.html.twig' %}

{% block title %}HoussArtGallery - Modification de l'utilisateur !{% endblock %}

{% block body %}

    <style>
    body{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .bg {
        background: var(--main);
        padding: 5rem;
        box-shadow: var(--box_shadow);
        border-radius: 1rem;
    }

    .bg:hover {
        background: #000;
        color:white;
    }
    .banner{
        height:760px;
        background:linear-gradient(rgba(0, 0, 0,.1),rgba(0, 0, 0,.1)),url(images/fonèdHome.jpg) center center fixed no-repeat;
        background-size:cover;
        
    }

</style>
<body>
    <div class="container-fluid banner">
    <div class="container my-5">
        <div class="row  d-flex justify-content-center align-items-center my-5">
        <div class="col-sm-12 col-md-10 my-5">

            <div class="row my-5">
            </div>
            <div class="row my-5">
               <h1 class="mt-4 text-center heading fs-1 mt-5">MODIFICATION DE L'UTILISATEUR</h1>

               {# read and display just one flash message type #}
               {% for message in app.flashes('success') %}
               <div class="alert alert-success mt-4">
                {{ message}}
               </div>
               {% endfor %}

            </div>
            <div class="row bg my-5">
   
                {{ form_start(form) }}

                    <div class="form-group">
                        {{ form_label(form.FullName, 'Nom / Prénom', {'label_attr': {'class': 'form-label mt-4'}}) }}
                        {{ form_widget(form.FullName, {'attr': {'class': 'form-control', 'minlength': 2, 'maxlength': 50}}) }}
                        {{ form_errors(form.FullName) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(form.pseudo, 'Pseudo (Facultatif)', {'label_attr': {'class': 'form-label mt-4'}}) }}
                        {{ form_widget(form.pseudo, {'attr': {'class': 'form-control', 'minlength': 2, 'maxlength': 50}}) }}
                        {{ form_errors(form.pseudo) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(form.plainPassword, 'Mot de passe', {'label_attr': {'class': 'form-label mt-4'}}) }}
                        {{ form_widget(form.plainPassword, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(form.plainPassword) }}
                    </div>

                    {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary mt-4'}}) }}

                {{ form_end(form) }}
            </div>

        </div>
        </div>
    </div>
  </div>
</body>

{% endblock %}