{% extends 'base.html.twig' %}

{% block title %}Garage.V.Parrot - Modification de l'utilisateur !{% endblock %}

{% block body %}

    <style>
    .bg {
        background: var(--main);
        padding: 5rem;
        box-shadow: var(--box_shadow);
        border-radius: 1rem;
    }
    .banner{
        height:760px;
        background:linear-gradient(rgba(0, 0, 0,.5),rgba(0, 0, 0,.5)),url(https://cdn.pixabay.com/photo/2016/09/04/12/38/living-room-1643855_1280.jpg) center center fixed no-repeat;
        background-size:cover;
        padding-top: 15rem;
    }

</style>
<body>
    <div class="container-fluid banner">
    <div class="container">
        <div class="row  d-flex justify-content-center align-items-center">
        <div class="col-sm-12 col-md-10">
        
            <div class="row my-5">
               <h1 class="mt-4 text-center heading fs-1 mt-5">MODIFICATION DU MOT DE PASSE DE L'UTILISATEUR</h1>

               {# read and display just one flash message type #}
               {% for message in app.flashes('success') %}
               <div class="alert alert-success mt-4">
                {{ message}}
               </div>
               {% endfor %}

            </div>
            <div class="row bg my-5">
   
                {{ form_start(form) }}
                    {{ form_row(form.plainPassword.first) }}
                    {{ form_row(form.plainPassword.second) }}
                    {{ form_row(form.newPassword) }}
                    {{ form_row(form.submit) }}
                {{ form_end(form) }}

            </div>

        </div>
        </div>              
    </div>
  </div>
</body>

{% endblock %}